<div class="container-fluid ml-4">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <div class="row">
    <h2 style='color: #fea400'>Edit <%= resource_name.to_s.humanize %></h2>
    <%= render "devise/shared/error_messages", resource: resource %>
  </div>

  <div class="row">
    <div class="col-4">
    <%= f.label :email %><br />
    </div>
    <div class="col-4">
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div class="row">Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="row">
    <div class="col-4">
      <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    </div>
    <div class="col-4">
      <%= f.password_field :password, autocomplete: "new-password" %>
      <% if @minimum_password_length %>
        <br />
        <em><%= @minimum_password_length %> characters minimum</em>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <%= f.label :password_confirmation %><br />
    </div>
    <div class="col-4">
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    </div>
    <div class="col-4">
      <%= f.password_field :current_password, autocomplete: "current-password" %>
    </div>
  </div>

  <div class="row">
    <div class="col-2">
      <%= f.submit "Update", class: 'btn btn-warning' %>
      <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-danger' %>
    </div>
  </div>
  <% end %>

  </div>
</div>

