<div class="container-fluid">
  <table class="table table-striped table-bordered table-hover">
    <thead class="thead-light">
      <tr>
        <th class='tbl-head' colspan=6>Elections</th>
      </tr>
      <tr>
        <th>ID</th>
        <th>NAME</th>
        <th>DATE</th>
        
        <th colspan=2></th>
      </tr>
    </thead>
    <tbody>
      <% @elections.each do |e| %>
        <tr>
          <td><%= e.id %></td>
          <td><%= e.name.capitalize %></td>
          <td><%= e.date.strftime('%F') %></td>
         
          <!--td><button>Edit</button></td-->
          <td><a class="btn btn-danger" href="<%= election_delete_path(e.id) %>">Delete</a></td>
        </tr>
      <% end %>
      <tr>
        <%= form_tag(election_create_path, method: :post, id: 'create_form') do %>
        <td><button class="btn btn-primary" type="submit">Create</button></td>
        <td>
          <input type="text" id="name" name="name" placeholder="Election name">
        </td>
        <td>
          <input type="text" id="datepicker" name="datepicker" placeholder="<%= DateTime.now.strftime('%F') %>">
        </td>
        <td>
  
          <select id="colleges" name="colleges" onchange="getCourses(this)">
          </select>
          <select id="courses" name="courses" onchange="getBatches(this)">
          </select>
          <select id="batches" name="batches">
          </select>
        </td>
        <td colspan=2></td>
        <% end %>
      </tr>
    </tbody>
  </table>
</div>

<script>
  $(function() {
    $("#datepicker").datepicker({ dateFormat: 'yy-mm-dd' });
  });

  function getColleges(elem) {
    $.ajax({
      url: '/election_participants/campus/' + elem.value,
      success: function(data, textStatus, jqXHR) {
        console.log(data);
        var colleges = $('#colleges');
        colleges.empty();
        data.forEach(function(item, index) {
          colleges.append($('<option>', { value: item.id, text: item.name}))
        });
      },
      error: function(jqXHR, textStatus, error) {
        console.log(error);
      }
    });
  }

  function getCourses(elem) {
    $.ajax({
      url: '/election_participants/college/' + elem.value,
      success: function(data, textStatus, jqXHR) {
        console.log(data);
        var colleges = $('#courses');
        colleges.empty();
        data.forEach(function(item, index) {
          colleges.append($('<option>', { value: item.id, text: item.course}))
        });
      },
      error: function(jqXHR, textStatus, error) {
        console.log(error);
      }
    });
  }

  function getBatches(elem) {
    $.ajax({
      url: '/election_participants/course/' + elem.value,
      success: function(data, textStatus, jqXHR) {
        console.log(data);
        var colleges = $('#batches');
        colleges.empty();
        data.forEach(function(item, index) {
          colleges.append($('<option>', { value: item.id, text: item.year}))
        });
      },
      error: function(jqXHR, textStatus, error) {
        console.log(error);
      }
    });
  }
</script>
