<!DOCTYPE html>
<html style="min-height:100%;position:relative">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Central Philippine University Alumni Association Inc.</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">

    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- IonIcons -->
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
  </head>
  <body class="non-admin" style="height:100%">
    <div style="width:35%;height:100%;background-color: #343a40; position:absolute" class="col-sm-0">
    </div>
    <div class="container">
      <div class="row">
        <div class="offset-md-4 col-md-4 mt-5 col-sm-12 offset-sm-0">
          <% if notice %>
            <p class="alert alert-success mb-5"><%= notice %></p>
          <% end %>

          <% if alert %>
            <p class="alert alert-danger mb-5"><%= alert %></p>
          <% end %>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
